<div class="mt-4">
    <form method="GET" action="/news">
        <div class="form-group">
            <label for="search-input">Find Gundam</label>
            <input type="text" name="q" class="form-conextrol" id="search-input" placeholder="Enter name of Gundam">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>