<div class="mt-4">
    <h3>Thêm Gundam</h3>


    <form method="POST" action="/gundams/store">
        
        <div class="form-group">
            <label for="image">Ảnh Gundam</label>
            <input type="text" class="form-control" id="image" name="image"> 
        </div>

        <div class="form-group">
            <label for="name">Tên Gundam</label>
            <input type="text" class="form-control" id="name" name="name"> 
        </div>

        <div class="form-group">
            <label for="price">Giá Gundam</label>
            <input type="text" class="form-control" id="price" name="price"> 
        </div>

        <div class="form-group">
            <label for="videoId">VideoId</label>
            <input type="text" class="form-control" id="videoId" name="videoId"> 
        </div>

        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>