<div class="mt-4">
    <div class="row">

        <div class="col-lg-9">
            <h1>{{gundam.name}}</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{gundam.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>Mô Hình Gundam (Gunpla) Là Một Loại Mô Hình Nhựa Được Gọi Là Model Kit, Bao Gồm Nhiều Mảnh Nhựa Rời Được Gọi Là Part (Bộ Phận), Khi Lắp Ráp Các Part Lại Với Nhau Sẽ Được Mô Hình Hoàn Chỉnh. Các Mảnh Nhựa Rời Này Được Gắn Trên Khung Nhựa Gọi Là Runner. Mỗi Một Hộp Sản Phẩm Gunpla Bao Gồm Nhiều Runner Và Các Phụ Kiện Liên Quan, Một Tập Sách Nhỏ (Manual) Bên Trong Giới Thiệu Sơ Lược Về Mẫu Gundam Trong Hộp Và Phần Hướng Dẫn Cách Lắp Ráp.</p>
            <p>{{gundam.price}}</p>
            <button>Buy this gundam</button>
        </div>
    </div>
</div>